@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}   

:root {

    --cor01:#DAFDBA;
    --cor02: #9AEBA3;
    --cor03: #45C4B0; 
    --cor04: #13678A; 
    --cor05: #012030;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-android : 'Android', 'cursive'

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ecffda;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-color: var(--cor04);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05) );
}

header > h1 {
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 1px 2px black;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.514);  
} 

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
}

nav > a {   
    color: rgb(155, 228, 183);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #45C4B0;
    color:#012030;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px ;
}

main h1 {

    color:var(--cor04);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.4em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #094863;
    background-color: var(--cor02);
    padding: 2px 6px;

} 

main a:hover {
    text-decoration: underline;
    color: #1a5b7c;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: #217e44;
    margin: 0px -20px 30px -20px;
    padding: 10px;
    padding-bottom: 50%;
    position: relative;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor02);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

aside> h3 {
    background-color: #217e44;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color:var(--cor05);
    color: white;
    text-align: center;
    padding: 5px;
    text-align: 0.8px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    color:#a3e0aa;
    text-decoration: underline;
}
      